<launch>
	<arg name="simulate_with_turtlesim" default="1"/>
	
	<arg name="world_name" default="worlds/empty.world"/>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="x_tbot3" default="5.0"/>
	<arg name="y_tbot3" default="5.0"/>
	
	
	<!-- Simulation Group-->
	<group if="$(arg simulate_with_turtlesim)">
		<node name="turtlesim_node_leader" pkg="turtlesim" type="turtlesim_node" required="true" />
		<node name="turtlesim_node_follower" pkg="turtlesim" type="turtlesim_node" respawn="true" />
		<node name="drive_positive_v_w" pkg="clive_plante_final_2022" type="drive_positive_v_w.py" />
		<node name="velocity_reporter" pkg="clive_plante_final_2022" type="velocity_reporter.py" launch-prefix="xterm -e" />
	</group>
	
	
	<!-- Bare Bones Group -->
	<group unless="$(arg simulate_with_turtlesim)">
		<remap from="cmd_vel" to="turtle1/cmd_vel" />
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(arg world_name)"/>
			<arg name="paused" value="false"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>
		</include>
		
		<param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
	
		<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_tbot3) -y $(arg y_tbot3) -param robot_description" >
		</node>
		
		<node name="drive_negative_v_w" pkg="clive_plante_final_2022" type="drive_negative_v_w.py" >
		</node>
		
		<node name="velocity_reporter" pkg="clive_plante_final_2022" type="velocity_reporter.py" launch-prefix="xterm -e" >
		</node>
		
	</group>
	
	
	
	
	
		
	
	
	<node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
</launch>